
<div class="site">
  <h3>ZANRE</h3>
  <button class="button"   (click)="addGenreDialog.showModal()">Pridať Zaner</button>
  <app-genre-list
    [genres]="genres"
    (genreToUpdate)="
selectGenreToUpdate($event)"
    (genreToDelete)="deleteGenre($event)">
  </app-genre-list>
  <dialog #addGenreDialog>
    <div class="header">Pridanie zanru</div>
    <div class="content">
      <app-genre-form (formCreate)="createGenre($event); addGenreDialog.close()"
                      (formCancel)="addGenreDialog.close()">
      </app-genre-form>
    </div>
  </dialog>

</div>


