<div style="margin-left: 45%">
  <input #inputNumber type="text"
  (input) = "changeChecks(inputNumber.value)" [value] = "cislo">
</div>
<div style="margin-left: 45.7%">
  <input type="checkbox" name="check1" id="0" (click) = "changeInputNumber()">
  <input type="checkbox" name="check1" id="1" (click) = "changeInputNumber()">
  <input type="checkbox" name="check1" id="2" (click) = "changeInputNumber()">
  <input type="checkbox" name="check1" id="3" (click) = "changeInputNumber()">
  <input type="checkbox" name="check1" id="4" (click) = "changeInputNumber()">
  <input type="checkbox" name="check1" id="5" (click) = "changeInputNumber()">
  <input type="checkbox" name="check1" id="6" (click) = "changeInputNumber()">
  <input type="checkbox" name="check1" id="7" (click) = "changeInputNumber()">

</div>
