
<div>
  <label style="margin-left: 38%">Zadajte cislo

    <input #inputNumber type="text"
    (input) = "changeCheckbox(
    inputNumber.value)" [value] = "cislo"/>
  </label>
</div>

<div style="margin-left: 38%; margin-top: 10px">
  <input type="checkbox" id="7" (click) = "changeInputNumber()"/>
  <input type="checkbox" id="6" (click) = "changeInputNumber()"/>
  <input type="checkbox" id="5" (click) = "changeInputNumber()"/>
  <input type="checkbox" id="4" (click) = "changeInputNumber()"/>
  <input type="checkbox" id="3" (click) = "changeInputNumber()"/>
  <input type="checkbox" id="2" (click) = "changeInputNumber()"/>
  <input type="checkbox" id="1" (click) = "changeInputNumber()"/>
  <input type="checkbox" id="0" (click) = "changeInputNumber()"/>
</div>
