<div style="margin-left: 38%">
  <input #inputNumber type="text"
         (input)="changecheckbox(inputNumber.value)"
         [value]="cislo">
</div>

<div style="margin-left: 38%">
  <input type="checkbox" id="7" (click)="changeInputNumber()">
  <input type="checkbox" id="6" (click)="changeInputNumber()">
  <input type="checkbox" id="5" (click)="changeInputNumber()">
  <input type="checkbox" id="4" (click)="changeInputNumber()">
  <input type="checkbox" id="3" (click)="changeInputNumber()">
  <input type="checkbox" id="2" (click)="changeInputNumber()">
  <input type="checkbox" id="1" (click)="changeInputNumber()">
  <input type="checkbox" id="0" (click)="changeInputNumber()">

</div>
