

<div class="menu" style="margin-bottom: 10px">
  <button (click)="changeMenu(menu.USERS)">Pouzivatelia</button>
  <button (click)="changeMenu(menu.BOOKS)">Knihy</button>
  <button (click)="changeMenu(menu.BORROWINGS)">Vypozicky</button>
  <button (click)="changeMenu(menu.GENRE)">Zaner</button>
</div>

<ng-container *ngIf="actualMenu === menu.USERS">
  <form [formGroup]="formGroup" (submit)="savePerson()">
    <label>Meno:
      <input type="text" formControlName="name" />
    </label>
    <p class="invalid-text" *ngIf="formGroup.controls.name.invalid">Zadajte meno</p>

    <label>Priezvisko:
      <input type="text" formControlName="surname"/>
    </label>
    <p *ngIf="formGroup.controls.surname.errors?.required" class="invalid-text">Zadajte priezvisko</p>
    <p *ngIf="formGroup.controls.surname.errors?.minlength" class="invalid-text">Minimálna dĺžka
      priezviska sú 3 znaky</p>

    <button type="submit" [disabled]="formGroup.invalid">Uložiť</button>

    <button type="reset">Zrušiť</button>
  </form>

  <table *ngIf="persons.length">
    <tr *ngFor="let person of persons; let i = index">
      <td>{{ person.name }}</td>
      <td>{{ person.surname }}</td>
      <td>
        <button (click)="editPerson(i)">Upraviť</button>
        <button (click)="deletePerson(i)">Zmazať</button>
      </td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="actualMenu === menu.BOOKS">
  <h1>Knihy</h1>
  <form [formGroup]="formBooks" (submit)="saveBook()">
    <label>Nazov Knihy:
      <input type="text" formControlName="name"/>
    </label>
    <label>Autor:
      <input type="text" formControlName="author"/>
    </label>

    <button type="submit">Ulozit
    </button>
  </form>

  <table *ngIf="books.length">
    <tr>
      <th>Nazov</th>
      <th>Autor</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
    </tr>
  </table>
</ng-container>


<ng-container *ngIf="actualMenu === menu.BORROWINGS">
  <h1>Vypozicane</h1>
  <form [formGroup]="formBorrows" (submit)="saveBorrowing()">
    <label>Meno:
      <input type="text" formControlName="name"/>
    </label>
    <label>Nazov Knihy:
      <input type="text" formControlName="bookname"/>
    </label>

    <button type="submit">Ulozit
    </button>
  </form>

  <table *ngIf="borrows.length">
    <tr>
      <th>Meno</th>
      <th>Nazov Knihy</th>
    </tr>
    <tr *ngFor="let borrow of borrows">
      <td>{{borrow.name}}</td>
      <td>{{borrow.bookname}}</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="actualMenu === menu.GENRE">
  <h1>Zaner</h1>
  <form [formGroup]="formGenres" (submit)="saveGenres()">
    <label>Zaner:
      <input type="text" formControlName="genre"/>
    </label>

    <button type="submit">Ulozit
    </button>
  </form>

  <table *ngIf="genres.length">
    <tr>
      <th>Zaner</th>
    </tr>
    <tr *ngFor="let genre of genres">
      <td>{{genre.genre}}</td>
    </tr>
  </table>
</ng-container>
