<div class="table">
  <table *ngIf="books.length">
    <tr *ngFor="let book of books">
      <td class="text" >{{ book.authorFirstName }}</td>
      <td class="text" >{{ book.authorLastName }}</td>
      <td class="text" >{{ book.title }}</td>
      <td class="text" >{{ book.isbn }}</td>
      <td class="text" >{{ book.count }}</td>
      <table>
        <tr *ngFor="let genre of book.categoryIds">
          <td class="text">{{ genre.name}}</td>
        </tr>
      </table>
      <td>
        <button class="update"  (click)="editBook(book.bookId)">Upraviť</button>
        <button class="delete" (click)="deleteBook(book.bookId)">Zmazať</button>
      </td>
    </tr>
  </table>
</div>
