.table{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-style: solid;
  border-width: thin;
  margin-left: 35%;
  margin-right: 35%;
  min-width: 350px;
}
.delete{
  background-color: firebrick;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.update{
  background-color: green;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.text{
  font-size: 2rem;
  padding-right: 10px;
}
