.header{
  padding: 60px;
  text-align: center;
  background: aqua;
  color: wheat;
  font-size: 30px;
  margin-bottom: 50px;
}
input, label{
  display: block;
}
input{
  margin-bottom: 1rem ;
}
.menu{
  overflow: hidden;
  margin-left: 26%;
}
.menu button{
  float: left;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  background-color: rosybrown;
  padding-left: 5%;
  padding-right: 5%;
}
th, td{
  border: 1px solid;
}
table{
  width: 500px;
  border-collapse: collapse ;
}
tr td:last-child {
  white-space:nowrap;
}
td button:first-child {
  margin-right: 0.5rem;
}
button[type="reset"] {
  margin-left: 0.5rem;
}
