

<div class="menu" style="margin-bottom: 10px">
  <button (click)="changeMenu(menu.USERS)" routerLink="/user">Pouzivatelia</button>
  <button (click)="changeMenu(menu.BOOKS)" >Knihy</button>
  <button (click)="changeMenu(menu.BORROWINGS)">Vypozicky</button>
  <button (click)="changeMenu(menu.GENRE)" routerLink="/genre">Zaner</button>
</div>

<ng-container *ngIf="actualMenu === menu.USERS">
  <h3>POUŽÍVATELIA</h3>

  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="actualMenu === menu.BOOKS">
  <h1>Knihy</h1>
  <form [formGroup]="formBooks" (submit)="saveBook()">
    <label>Nazov Knihy:
      <input type="text" formControlName="name"/>
    </label>
    <label>Autor:
      <input type="text" formControlName="author"/>
    </label>

    <button type="submit">Ulozit
    </button>
  </form>

  <table *ngIf="books.length">
    <tr>
      <th>Nazov</th>
      <th>Autor</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
    </tr>
  </table>
</ng-container>


<ng-container *ngIf="actualMenu === menu.BORROWINGS">
  <h1>Vypozicane</h1>
  <form [formGroup]="formBorrows" (submit)="saveBorrowing()">
    <label>Meno:
      <input type="text" formControlName="name"/>
    </label>
    <label>Nazov Knihy:
      <input type="text" formControlName="bookname"/>
    </label>

    <button type="submit">Ulozit
    </button>
  </form>

  <table *ngIf="borrows.length">
    <tr>
      <th>Meno</th>
      <th>Nazov Knihy</th>
    </tr>
    <tr *ngFor="let borrow of borrows">
      <td>{{borrow.name}}</td>
      <td>{{borrow.bookname}}</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="actualMenu === menu.GENRE">
  <router-outlet></router-outlet>
</ng-container>
