
<form [formGroup]="formBorrows" (submit)="saveBorrowing()">
  <label>ID knihy:
    <input type="text" formControlName="bookId" />
  </label>
  <p class="invalid-text" *ngIf="formBorrows.controls.bookId.invalid">Zadajte ID knihy</p>
  <label>ID pouzivatela:
    <input type="text" formControlName="customerId" />
  </label>
  <p class="invalid-text" *ngIf="formBorrows.controls.customerId.invalid">Zadajte ID pouzivatela</p>
  <button type="submit" [disabled]="formBorrows.invalid">Uložiť</button>
  <button type="reset">Zrušiť</button>
</form>
